h1, h2, h5 {
    text-align: center;
}

img {
    width: 400px;
    height: auto;
    display: block;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 50px;
}

hr {
    width: 50%;
}

p {
    margin: 35px 10%;
}

ol, ul {
    margin-left: 10%;
}

li {
    margin: 5px 0px;
}